@use "../libs/colors.scss";
@use "../mixins/font.scss";

@mixin link($style: "solid", $size: 14px) {
    @if $style == "solid" {
        text-decoration-skip-ink: none;
        text-decoration-color: colors.$col-link-undeline;
        text-decoration-thickness: 3px;
        text-underline-offset: 6px;
        @include font.font("br", $size);
    } @else if $style == "dotted" {
        text-decoration-skip-ink: none;
        text-decoration-color: colors.$col-link-undeline;
        text-decoration-thickness: 3px;
        text-underline-offset: 6px;
        text-decoration-style: dotted;
        @include font.font("br", $size);
    } @else {
        @error "Property #{$style} is not supported for the link mixin";
    }
}
