@use "../../../../source/styles/fw.scss";

.p-main {
    display: grid;
    grid-template-areas:
        "header     header      header"
        "slogan     slogan      slogan"
        "...        form        ..."
        "...        links       ...";
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: max-content max-content max-content max-content;
    gap: 0;
    @include fw.screen("phone") {
        grid-template-columns: 10% 1fr 10%;
    }
    ._header {
        grid-column: header;
        grid-row: header;
        background-color: fw.$col-brand-bg;
        display: flex;
        justify-content: center;
        span {
            padding-bottom: 20px;
            @include fw.font("ar");
            font-size: 130px;
            @include fw.screen("tablet") {
                font-size: 13vi;
            }
            @include fw.screen("phone") {
                padding-bottom: 5px;
            }
        }
    }
    ._slogan {
        grid-column: slogan;
        grid-row: slogan;
        justify-self: center;
        margin-bottom: 25px;
        span {
            color: fw.$col-brand-accent;
            @include fw.font("bm");
            font-size: 70px;
            @include fw.screen("tablet") {
                font-size: 7vi;
            }
            @include fw.screen("phone") {
                display: none;
            }
        }
    }

    ._form {
        grid-column: form;
        grid-row: form;
        justify-self: center;
        display: block;
        height: 250px;
        width: 350px;
        border: dashed 2px gray;
        margin-bottom: 20px;
        @include fw.screen("tablet") {
            font-size: 20px;
        }
        @include fw.screen("phone") {
            font-size: 18px;
        }
    }
    ._links {
        grid-column: links;
        grid-row: links;
        justify-self: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        a:nth-child(1) {
            margin-bottom: 5px;
            @include fw.link("solid", 25px);
        }
        a:nth-child(2) {
            @include fw.link("solid", 21px);
        }
    }
}
